body{
  margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: auto;
    border: none;
}


.hero-container{
  box-sizing: none;
  text-align: center;
  justify-items: center;
   width:auto; 
  padding: 5rem 25rem;
  height: auto;
   /* margin-left: 1.4rem;  */
  background-color: rgb(248, 236, 236);
  
  
  
}
.programs{
  padding: auto;
  
  
  /* padding-left: 20%; */
   /* border: 1px ; */
  /* margin-top: 5px; */
  /* margin-bottom: 20px; */
  /* margin-right: auto; */
  /* margin-left: auto; */
}
.zuri-team{
  display: block;
  justify-content: center;
  align-items: center;
  text-align:center ;

}
.all{ 
   width: 70%; 
  
border: 4rem;
  padding: auto;
  margin: 20px;
  display: flex;
  padding-left: auto;
  border-collapse: separate;
  
   } 
.zuri{
  border: 1px;
  justify-content: center;
  align-items: center;
  text-align:center ;
   row-gap:initial ;
   padding-left: 5rem;
   border-collapse: separate;
  border-spacing: 15px;
}
.zuri > *>*{
  border-spacing: 10%;
  flex-basis: 100%;
  justify-items: center;
  align-items: center;
  padding: 5%;
  

}
.zuri-one{
   padding: 3%;
    row-gap:initial ;
    border-width: 3rem;
     border-collapse: separate;
     border-spacing: 15px;
     display: block;
}
.zuri-two{
  padding: 3%;
   row-gap:initial ;
}
.zuri-three{
  padding: 3%;
   row-gap:initial ;
}


a{
 color: red;
 text-decoration: none;
}






















    